Adam Patridge <patridge@gmail.com>
Aleksandar Milic <36886162+appsourcers@users.noreply.github.com>
Alfred Myers <git@alfredmyers.com>
Andres G. Aragoneses <knocte@gmail.com>
Charles Petzold <chape@microsoft.com>
Craig Dunn <craig.dunn@conceptdevelopment.net>
Damian Mehers <damian@mehers.com>
Daniel Cazzulino <daniel@cazzulino.com>
Dave Humphreys <dave@thing.com>
Dave Humphreys <dave@thing.com> <newky2k@users.noreply.github.com>
Den Delimarsky <1389609+dend@users.noreply.github.com>
Eilon Lipton <Eilon@users.noreply.github.com>
Elvin (Tharindu) Thudugala <elvin@outlook.co.nz>
Ewan Paterson <EP01@users.noreply.github.com>
Feng Xu <fenxu@microsoft.com>
Fredrik Eilertsen <fredrik.eilertsen@gmail.com>
James Montemagno <james.montemagno@gmail.com>
Janus Weil <janus@gcc.gnu.org>
Jian Dong <33136632+Powerhelmsman@users.noreply.github.com>
Joel Martinez <joelmartinez@gmail.com>
Jonathan Dick <jodick@microsoft.com>
Jonathan Dick <jodick@microsoft.com> <jondick@gmail.com>
Jonathan Peppers <jonathan.peppers@gmail.com>
Konstantin Chuvilyov <f1nzer@outlook.com>
Manish Kungwani <manishkungwani@yahoo.com>
Matt Lacey <matt@mrlacey.co.uk>
Matt Regul <mareg@microsoft.com>
Matthew Leibowitz <mattleibow@live.com>
Morten Nielsen <1378165+dotMorten@users.noreply.github.com>
Nathaniel Nunes <manutdkid77@gmail.com>
NicolD <nicolgit@users.noreply.github.com>
Nicolò Carandini <ncarandini@users.noreply.github.com>
Niklas Schilli <schillinik@yahoo.de>
Niklas Schilli <schillinik@yahoo.de> <schilli@ams-berlin.de>
Oren Novotny <oren@novotny.org>
Patrick Long <pat@munkiisoft.com>
Pedro Jesus <pedrojesus.cefet@gmail.com>
Shane Neuville <shneuvil@microsoft.com>
Tianqi Zhang <TianqiZhang@users.noreply.github.com>
Tom Gilder <tom@tom.me.uk>
Tomasz Cielecki <tomasz@ostebaronen.dk>
Vojtěch Mádr <madrvojtech@outlook.com>
cliff v <powerdude@users.noreply.github.com>
dend <dend@outlook.com>
domagojmedo <domagojmedo@gmail.com>
jzeferino <jorgevalentzeferino@gmail.com>
mallibone <mallibone@users.noreply.github.com>
moljac <mcvjetko@holisticware.net>
qmark <dimka.qmark@gmail.com>
sung-su.kim <sung-su.kim@samsung.com>
